<div mat-dialog-title class="text-center">
    <h1 color="primary">
        User Form
    </h1>
</div>
<form [formGroup]="userFrom" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content>
        <div>
            <div fxLayout="row" fxLayoutAlign="space-around center" >
                <div fxFlex="48">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input type="text" matInput formControlName="firstName">
                        <mat-error *ngIf="userFrom.get('firstName')?.hasError('required')">
                            First Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                </div>
                <div fxFlex="2"></div>
                <div fxFlex="48">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input type="text" matInput formControlName="lastName">
                        <mat-error *ngIf="userFrom.get('lastName')?.hasError('required')">
                            Last Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-small">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
                    <mat-error *ngIf="userFrom.get('email')?.hasError('email') && !userFrom.get('email')?.hasError('required')">
                        Please enter a valid email address
                      </mat-error>
                    <mat-error *ngIf="userFrom.get('email')?.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" class="mt-small" style="height: 3em;">
                <mat-radio-group aria-label="Select an option" formControlName="gender">
                    Gender
                    <mat-radio-button value="male">Male</mat-radio-button>
                    <mat-radio-button value="female">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <mat-form-field appearance="outline">
                    <mat-label>Education</mat-label>
                    <mat-select formControlName="education">
                        <mat-option value="">Please Select</mat-option>
                        <mat-option *ngFor="let value of EducationList" [value]="value">
                          {{value}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions class="d-flex action-btn">
        <button mat-raised-button type="button" [mat-dialog-close]="false ">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update':'Save'}}</button>
    </div>
</form>
