<!-- ! table component -->
<div class="table-container">
    <div>
        <div fxFlex="80">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. john" #input>
            </mat-form-field>
        </div>
        <div fxFlex="5"></div>
        <div fxFlex="15">
            <button mat-raised-button (click)="addUserForm()" style="margin-top: 0.7em;">
                ADD USER
            </button>
        </div>  
    </div> 

    <div class="table-content">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id}} </td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
            </ng-container>
            <!-- <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
                <td mat-cell *matCellDef="let row"> {{row.dob}} </td>
            </ng-container> -->
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
            </ng-container>
            <ng-container matColumnDef="education">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
                <td mat-cell *matCellDef="let row"> {{row.education}} </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <button mat-icon-button color="primary" (click)="editUserForm(row, i)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let row; let i = index">
                    <button mat-icon-button color="warn" (click)="deleteUser(row.id, i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>
